<!-- Copyright (c) 2012 Mobile Developer Solutions -->
<!DOCTYPE HTML>
<html >
  <head>
  <meta charset="UTF-8">
   
    <title>APP Movil</title>

 	<link rel="stylesheet" href="jquery.mobile/jquery.mobile-1.1.0.min.css" />
 	<link rel="stylesheet" type="text/css" href="css/style.css">
 	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">


  <script src="jquery.mobile/jquery-1.7.2.min.js"></script>
	<script src="jquery.mobile/jquery.mobile-1.1.0.min.js"></script>
    <script  type="text/javascript"   src="js/session.js"></script>
    <!-- angularjs js -->
  <script  type="text/javascript"   src="js/angular.min.js"></script>
  <script   src="js/control.js"></script>
    <script>
    sessionStorage.removeItem('user2');
    sessionStorage.removeItem('s');//quito la variable de session s que devuelve un 1 o un 0
    sessionStorage.removeItem('user');
    </script>
 
	</head>
    <body > 

<div data-role="page" id="inicio">

	<div data-role="header">
		
	</div>
    
	<div data-role="content">	
	<!--method="post" id="formulario" -->
	<form action="recuperardatos" method="post" id="formulario">
      <section class="sec">
    <div class="Container">
	<div class="row-fluid"></div>
	<!--header-->
	<div class="row">	
	 <center><img  src="./img/logo.png"></center>
    </div>
    <div class="row-fluid"></div>
    <!--body-->
    <center>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="row-fluid">	
    <div class="span3">
     <label>Identificacion:</label> <input type="text" name="nU" id="nU" ng-model="nU">
     <label>Clave:</label> <input type="password" name="pass" id="pass" ng-model="pass">
     <!--<input type="submit" value="Ingresar"  onclick='init()'>ng-click="addSessionStore()</input>-->
     <button  onclick='init()'>Ingresar</button>
    </div>
	</div>
	</center>
	</div>	
	</section>
	<center >
	
		&copy; 2015 Datafacory
	</center>
	</form>
      
    			
    		</section>
	</div>
	 
</div>
</body>
</html>
