<!-- Copyright (c) 2012 Mobile Developer Solutions -->
<!DOCTYPE HTML>
<html >
  <head>
  <meta charset="UTF-8">
   
    <title>APP Movil</title>

 	<link rel="stylesheet" href="jquery.mobile/jquery.mobile-1.1.0.min.css" />
 	<link rel="stylesheet" type="text/css" href="css/style.css">
 	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">


  <script src="jquery.mobile/jquery-1.7.2.min.js"></script>
	<script src="jquery.mobile/jquery.mobile-1.1.0.min.js"></script>
    <script  type="text/javascript"   src="js/session.js"></script>
    <!-- angularjs js -->
  <!--<script  type="text/javascript"   src="js/angular.min.js"></script>-->
  <!--<script  type="text/javascript"   src="js/control.js"></script>-->
    <script>
    sessionStorage.removeItem('user2');
    sessionStorage.removeItem('s');//quito la variable de session s que devuelve un 1 o un 0
    sessionStorage.removeItem('user');
    </script>
 
	<!-- CDN Respositories: For production, replace lines above with these uncommented minified versions -->
	<!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />-->
	<!-- <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
	<!-- <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>-->
	<!--imports de la conexion -->
	<!--<?php/*
    include ('./Conexion.php');
    error_reporting(0);*/
    ?> -->
    <!--<script  type="text/javascript"   src="js/conexion.js"></script>     onload="init();" -->
	</head>
    <body > 
<!--script para manipular la sesion-->


<div data-role="page" id="inicio">

	<div data-role="header">
		
	</div>
    
	<div data-role="content">	
	<form action="recuperardatos" method="post" id="formulario" >
      <section class="sec">
    <div class="Container">
	<div class="row-fluid"></div>
	<!--header-->
	<div class="row">	
	 <center><img  src="./img/logo.png"></center>
    </div>
    <div class="row-fluid"></div>
    <!--body-->
    <center>
    <div class="span3"></div>
    <div class="span2"></div>
    <div class="row-fluid">	
    <div class="span3">
     <label>Identificacion:</label> <input type="text" name="nU" id="nU">
     <label>Clave:</label> <input type="password" name="pass" id="pass" >
     <!--<input type="submit" value="Ingresar"  onclick='init()'>ng-click="addSessionStore()</input>-->
     <button  onclick='init()'>Ingresar</button>
    </div>
	</div>
	</center>
	 <!--para espacio abajo-->
	<!--p<div class="row-fluid">&nbsp;</div>-->
	</div>	
	</section>
	<center >
	
		<!--<?php
		// esUsu($conexion, $_POST["ced"]);
         ?>-->
	
	&copy; 2015 Datafacory
	</center>
	</form>
      
    			
    		</section>
	</div>
	 
</div>


<script>
function init() { 
	// recolecta los valores que inserto el usuario
	// var datosUsuario = $("#nU").val()
//	archivoValidacion = "http://172.16.0.219:81/Conexion.php?jsoncallback=?"
	// $.post( archivoValidacion, { ced:datosUsuario },
 //   function(respuestaServer) {
   
	// 	if(respuestaServer.validacion=="ok"){
	// 		//creo la variable para manejar la sesion
			
			var user=$("#nU").val();
			sessionStorage.setItem('user2',user);
			//en esta parte me pasa todos los datos del cliente y los envio al home.html
			// sessionStorage.setItem('id',respuestaServer.ed);



			// sessionStorage.setItem('user',respuestaServer.user);
			// sessionStorage.setItem('nom1',respuestaServer.nom1);
			// sessionStorage.setItem('nom2',respuestaServer.nom2);
			// sessionStorage.setItem('idtipo',respuestaServer.idtipo);
			// sessionStorage.setItem('idcliente',respuestaServer.idcliente);
			// sessionStorage.setItem('nac',respuestaServer.nac);
			// sessionStorage.setItem('fecha',respuestaServer.fecha['date'].split(" ",1));
			// sessionStorage.setItem('distrito',respuestaServer.distrito);
			// sessionStorage.setItem('direc',respuestaServer.direc);
			// alert("Bienvenido "+respuestaServer.user+" "+respuestaServer.nom1+" "+respuestaServer.nom2)
			
	// 	 window.location="home.html";
	// 	}else{
	// 	alert("Usuario o clave incorrecta")
	// 	  alert("clave incorrecta")

	// 	  /// ejecutar una conducta cuando la validacion falla
	// 	}
  
	// }
	// 	,"")
	/*.done(function(respuestaServer) {
		if(respuestaServer.validacion=="ok"){
		  alert("Bienvenido")
		 	/// si la validacion es correcta, muestra la pantalla "home"
		//$.mobile.changePage("home.html",{reloadPage:true})
		window.location="home.html";
		}else{
		  alert("Usuario o clave incorrecta")
		  /// ejecutar una conducta cuando la validacion falla
		}
  
	})*/

}



</script>

</body>
</html>
