<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <form class="list" ng-controller="loginCtrl">
        <section class="sec">
        <center><img  src="./img/logo.png"></center>
        </section>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username:</span>
                    <input type="text" name="nU" id="nU" ng-model="nU" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password:</span>
                    <input type="password" name="pass" id="pass" ng-model="pass" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
           <!--  <a menu-close=""  class="button button-stable button-block ">Ingresar</a>-->
            <button ng-click="login()" menu-close=""  class="button button-stable button-block ">Ingresar</button>
            <!-- href="#/page3/page4"-->
            <script>
                window.location.assign("./index.html");
            </script>
        </form>
    </ion-content>
</ion-view>