<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-dark tabs-icon-top">
        <form class="list" ng-controller="logoutCtrl">
    <button menu-close="" ng-click="logout()" class="button button-dark   icon ion-power"></button>
        <ion-tab title="Información" icon="ion-ios-home-outline" href="#/page3/page4">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Transferencias" icon="ion-social-usd-outline" href="#/page3/page5">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Consultas" icon="ion-ios-paper-outline" href="#/page3/page6">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        </form>
    </ion-tabs>
          
</ion-view>