<ion-view title="Transferencia entre tus cuentas">
    <ion-content padding="'true'" class="has-header">
    	 <form class="list" ng-controller="transferenciaEntreTusCuentasCtrl">
            <ion-list>
                <ion-item class="item-divider">Especifique el monto a transferir</ion-item>
                <label class="item item-input" name="monto">
                    <input type="number" placeholder="monto atransferir en colones">
                </label>
                <ion-item class="item-divider">Cuenta a debitar (de donde se saca el dinero)</ion-item>
                <label class="item item-select">
                    <span class="input-label">Cuenta 1</span>
                    <select id="sel1" name="sel1"></select>
                </label>
                <ion-item class="item-divider">Cuenta a acreditar (a donde se deposita el dinero)</ion-item>
                <label class="item item-select">
                    <span class="input-label">Cuenta 2</span>
                    <select id="sel2" name="sel2"></select>
                </label>
            </ion-list>
            <button class="button button-stable button-block ">Procesar</button>
        </form>
        
    </ion-content>
     <!--/////////////////////-->
            <ion-tabs class="tabs-dark tabs-icon-top">
             <a menu-close="" href="#/page3/page5" class="button button-dark   icon ion-reply"></a>
            <!-- <div class="button-bar">
            <a menu-close="" href="#/page3/page4" class="button button-dark   icon ion-ios-home-outline"></a>
            <a menu-close="" href="#/page3/page5" class="button button-dark   icon ion-social-usd-outline"></a>
            <a menu-close="" href="#/page3/page6" class="button button-dark   icon ion-ios-paper-outline"></a>
       		</div>/-->
         	</ion-tabs>
        <!--/////////////////-->
</ion-view>