<ion-view title="Transferencias">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Usuario:</ion-item>
            <ion-item menu-close="" href="#/page18">Transacción entre tus cuentas</ion-item>
            <ion-item menu-close="" href="#/page7">Transacción entre cuentas externas</ion-item>
        </ion-list>
    </ion-content>
</ion-view>