/* Empty. Add your own CSS if you like */
.tabla{
padding: 120px;
}
.fila{
padding: 20px;
}
.sec{

    background-color: rgba(136, 136, 136, 0.3);
    //max-width: 250px;
    margin: 10px auto;
    padding: 15px;
    min-width: 250px;
}
.sec2{

    background:  #F9F9F9 linear-gradient(#F9F9F9, rgba(238, 238, 238, 0.11)) repeat scroll 0% 0%;

    //max-width: 250px;
    margin: 10px auto;
    padding: 15px;
    min-width: 250px;
}
.nar{
	background-color: #FAA732
}
.myTabla{
	width: 100%;
}
.myList{
    width: 110%;
}
.sub{
position: absolute;
background-color: #555;
width: 100%;
display: none;
}

